.search-bar{
  margin-bottom:35px;
}

.search-bar input{
  width:100%;
  max-width:520px;
  padding:16px 20px;
  border:none;
  border-radius:14px;
  background:#1e293b;
  color:white;
  font-size:15px;
}

.search-bar input:focus{
  outline:none;
  box-shadow:0 0 0 3px rgba(56,189,248,0.35);
}